h1 { color: #CD5C5C;}

body {background-color: grey;}

h1 {font-family: Ubuntu;  }
p {color:#CD5C5C;}
p {border: 2px solid black;}
#up{background-color: #FFA07A; }
.special{border: 3px dotted blue;}
th {
    background-color: #4CAF50;
    color: white;
}