p {
font-family: arial;
font-size: 25px;
}
a {
	color:	#00008B;
	text-decoration: none;
}
a:hover {
	color: #00008B;
	text-decoration:  underline;
	font-size: 50xp; 
}
h1 {
font-family: verdana; 
color: red;
}

h2 {
font-family: verdana; 
color: blue;
}
h3 {
font-family: verdana; 
color: yellow;
}
